.loginbutton{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 44px;
    background: linear-gradient(90deg, #3498db, #f1c40f, #e74c3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}