.whole{
    background-color: rgba(0, 0, 0, 0.631);
}

/* .dashboard-container{

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.301), rgba(159, 159, 159, 0.334));
}

.location-section{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.301), rgba(159, 159, 159, 0.334));
}

.leftright{
   background: linear-gradient(90deg, rgba(0, 0, 0, 0.301), rgba(159, 159, 159, 0.334));
} */

.whole-map{
    width: 100vw;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgba(66, 66, 66, 0.527);
   /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.301), rgba(159, 159, 159, 0.334)); */
}



    .location-card.country {
    font-family: "rajdhani";
    color:rgb(49, 49, 49);
    background-color:rgba(66, 66, 66, 0.527); /* Medium Brown (natural blend) */
    }


  .location-card.state {
      background-color:rgba(59, 100, 147, 0.527); /* Earthy Walnut */
    }

    .location-card.city {
      background-color:rgba(66, 66, 66, 0.527); /* Warm Mocha */
    }

    .location-card.street {
      background-color:rgba(183, 183, 183, 0.527); /* Soft Cocoa */
    }

    .location-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.6);
    }

